
* {
  /*
  border-style: dashed;
  border-color: white;
  border-width: thin;
  */
  /*
  padding: .25em;
  */
}

body {
  background-color: #142952;  /* dark blue */
}

header {
  background-color: #2952a3;      /* light blue */
  /*
  background: linear-gradient(to right, #2952a3, #143283); */ /* light blue to dark blue */
  box-shadow: 0em .1em 1em black;

  height: 8em;        /* this make the blue header as tall as profilepic; */
  width: 100%;        /* ensures the blue header is always across page */
  border-radius: 8em; /* this makes the blue header's border rounded on the sides because it is the same as the height */

  border-color: black;
  border-width: thin;
  border-style: groove;

  display: inline-flex; /* flex makes the blue header hold its child blocks */
  position: relative;   /* cannot be static(default) for z-index to work */
/*
  z-index: -2;  */        /* make it appear behind nav bar with index -1 */

  /*  unneeded
  overflow: visible;
  */
}

.profilepic {
  height: 8em;        /* this should be the same as the height of the header */

  /*
  position: fixed;
  */

  z-index: 0;        /* make it appear above everything */


  border-radius: 100%;  /* make the picture a circle */
  box-shadow: 0em 0em .5em black;

  /* comment out so border doesn't interfere with height
  border-style: solid;
  border-color: black;
  border-width: thin;
  */
  /*
  border-color: transparent;
  box-shadow: 0 0 0 1px black;
  */
}

ul.action_bar {
  list-style-type: none;

  display: flex;    /* making display flex allows the links to have 0 margin between them */

  background-color: #800000;  /* light maroon */
  box-shadow: 0em 0em .5em black;

  text-align: center; /* probably does nothing */

  margin-left: -2em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;

  padding-left: 2em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.action_bar li {
  /*
  background-color: green;
  */
  display: inline-block;

  text-align: left; /* should do nothing */

  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}

.action_bar a {
  text-decoration: none;

  font-family: monospace;
  font-size: 1.5em;

  display: inline-block;

  padding-top: 1.5em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-left: 1em;

  color: white;
  background-color: #800000;  /* light maroon */


  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  maring-right: 0;
}

.action_bar a:hover {
  background-color: #660000; /* dark maroon */
}

.paper {
  color: black;
  background-color: burlywood;  /* a tan color */

  max-height: auto;               /* needs to be max-height so that it can be smaller than 100% */
  width: 50%;                     /* make the page half the width of the screen */
  top: 8.8em;                     /* kinda janky i know */
  bottom: -1em;                   /* need this to offset the "translateY(-1em)" */

  position: fixed;                /* make it so that the page can't be moved by scrolling, cannot be relative or static */
  display: block;
  left: 25%;
  transform: translateY(-1em);    /* push the paper up into the nav bar */
  box-sizing: border-box;         /* prevents the padding from affecting the dimensions. does not work below ie 8 */

  z-index: -1;                    /* make it appear behind profilepic and header (with index 0?) */

  margin: 0 0 0 0;
  padding: .75em 0em 0em 0em;                   /* making this 0 puts the scrollbar in .scrolling_page against the edge */

  box-shadow: inset 0em 0em 2em 0em black;      /* makes it appear inside the page */

  border-color: slategray;
  border-width: thin;
  border-style: solid;
}

.scrolling_page {
  position: relative;           /* idk how this affects stuff */

  max-height: 100%;             /* need to have this for scrolling to work */
                                /* currently bottom of scroll hidden */
  overflow: auto;               /* allows scroll bar to be shown */

  padding: 0em 1em 1em 1em;
  margin: 0em;                  /* making this more than 0 moves the scroll bar */
}

#biographytitle {
}

#biography {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
}
