
* {
  /*
  border-style: dashed;
  border-color: white;
  border-width: thin;
  */
  /*
  margin: .25em;
  */
}

body {
  background-color: #142952;  /* dark blue */
}

header {
  background-color: #2952a3;  /* light blue */
  box-shadow: 0em .1em 1em black;

  height: 8em;        /* this make the blue header as tall as profilepic; */
  width: 100%;        /* ensures the blue header is always across page */
  border-radius: 8em; /* this makes the blue header's border rounded on the sides because it is the same as the height */

  display: inline-flex; /* flex makes the blue header hold its child blocks */

  /*  unneeded
  overflow: visible;
  */
}

.profilepic {
  height: 8em;        /* this should be the same as the height of the header */

  /*
  position: fixed;
  */
  z-index: 1;


  border-radius: 100%;  /* make the picture a circle */
  box-shadow: 0em 0em .5em black;

  /* comment out so border doesn't interfere with height
  border-style: solid;
  border-color: black;
  border-width: thin;
  */
  /*
  border-color: transparent;
  box-shadow: 0 0 0 1px black;
  */
}

ul.action_bar {
  list-style-type: none;

  display: flex;    /* making display flex allows the links to have 0 margin between them */

  background-color: #800000;  /* light maroon */
  box-shadow: 0em 0em .5em black;

  text-align: center; /* probably does nothing */

  margin-left: -2em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;

  padding-left: 2em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.action_bar li {
  /*
  background-color: green;
  */
  display: inline-block;

  text-align: left; /* should do nothing */

  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}

.action_bar a {
  text-decoration: none;

  font-family: monospace;
  font-size: 1.5em;

  display: inline-block;

  padding-top: 1.5em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-left: 1em;

  color: white;
  background-color: #800000;  /* light maroon */


  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  maring-right: 0;
}

.action_bar a:hover {
  background-color: #660000; /* dark maroon */
}
